<div class="container login-form">
    <img src="./img/logo.png" alt="OnTheRoad" class="logo" />
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="login">Login</label>
            <input id="login" type="text" class="form-control" required [(ngModel)]="login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" required [(ngModel)]="password">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>