<div class="container">
    <div class="row">
        <h1>Carrefour Market</h1>
    </div>
    <!-- Adresse -->
    <div class="row">
        <address class="bloc-address">
            <h2>Adresse</h2>
            <img src="./img/address.png" class="icon" />
            <div>
                Carte...
            </div>
            <div class="address">
                10 rue de la poste, 63000 Clermont-Ferrand
            </div>
            <div class="opening-hours">
                10h00 - 17h00
            </div>
        </address>
    </div>
    <!-- Codes -->
    <div class="row">
        <div class="bloc-codes">
            <h2>Codes d'accès</h2>
            <img src="./img/lock.png" class="icon" />
            <div class="access-codes clear">
                <access-code>
                    <div class="access-code">
                        Porte d'entrée : 50ACBE
                    </div>
                </access-code>
                <access-code>
                    <div class="access-code">
                        Portail : 1234
                    </div>
                </access-code>
            </div>
        </div>
    </div>
    <!-- Memos -->
    <div class="row">
        <div class="bloc-memos">
            <h2>Memos</h2>
            <img src="./img/memo.png" class="icon" />
            <div class="memos clear">
                <memo class="memo clear">
                    <div class="memo-title">Retard</div>
                    <div class="memo-description">Client tenant à ce que les horaires soient respectés à 5mn près.</div>
                    <div class="memo-author">Bob Moran - 06/04/16</div>
                </memo>
                <hr/>
                <memo class="memo clear">
                    <div class="memo-title">Se garer</div>
                    <div class="memo-description">Place de livraison généralement disponible dans la rue derrière.</div>
                    <div class="memo-author">Bob Moran - 06/04/16</div>
                </memo>
            </div>
        </div>
    </div>
</div>