
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <a class="navmenu-brand" href="#">OnTheRoad</a>
    <ul class="nav navmenu-nav">
        <li class="nav-menu-user active"><a href="#">{{user.surname}} {{user.forename}}</a></li>
        <li *ngFor="#round of user.rounds"><a href="#">{{round.name}}</a></li>
    </ul>
</nav>
<div class="row">
    <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-title">
            {{customer.name}}
        </div>
    </div>
</div>

<div class="container customer" style="margin-top: 60px">

    <!-- Adresse -->
    <div class="row">
        <address class="bloc-address">
            <h2>Adresse</h2>
            <img src="./img/customer-address.png" class="icon" />
            <div class="address">
                {{customer.address}}
            </div>
            <div class="opening-hours">
                {{customer.openingHours}} - {{customer.closingHours}}
            </div>
        </address>
    </div>
    <!-- Codes -->
    <div class="row" *ngIf="customer.accessCodes.length > 0">
        <div class="bloc-codes">
            <h2>Codes d'accès</h2>
            <img src="./img/customer-lock.png" class="icon" />
            <div class="access-codes clear">
                <access-code *ngFor="#accessCode of customer.accessCodes">
                    <div class="access-code">
                        <strong>{{accessCode.place}}</strong> : {{accessCode.code}}
                    </div>
                </access-code>
            </div>
        </div>
    </div>
    <!-- Memos -->
    <div class="row" *ngIf="customer.memos.length > 0">
        <div class="bloc-memos">

            <h2>Memos</h2>
            <img src="./img/customer-memo.png" class="icon" />
            <div class="memos clear">

                <div *ngFor="#memo of customer.memos; #i = index" class="round-row">
                    <memo class="memo clear">
                        <div class="memo-title">{{memo.title}}</div>
                        <div class="memo-description">{{memo.description}}</div>
                        <!--<div class="memo-author">Bob Moran - 06/04/16</div>-->
                    </memo>
                    <hr *ngIf="i != customer.memos.length - 1"/>
                </div>
            </div>
    </div>
</div>

