<div *ngIf="user != null">
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <a class="navmenu-brand" [routerLink]="['Home']">OnTheRoad</a>
        <ul class="nav navmenu-nav">
            <li class="nav-menu-user active"><a>{{user.surname}} {{user.forename}}</a></li>
            <li *ngFor="#round of user.rounds">
                <a [routerLink]="['TargetHome', {id: round.id}]" *ngIf="round">{{round.name}}</a>
            </li>
        </ul>
    </nav>
    <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-title">
            {{roundName}}
        </div>
    </div>
</div>
<div  style="margin-top: 60px">
    <round></round>
</div>