<!--<div role="form" class="form-horizontal">
    <div class="center-block">

        &lt;!&ndash; Selection buttons &ndash;&gt;
        <div *ngIf="!connected">
            <br/>
            <a class="no-decoration hand" [routerLink]="['CandidateLogin']" (click)="notHome()">
                <img src="./img/candidate-login.png">
            </a>
            <div class="clear">
                <br />
                <br />
            </div>
            <a class="no-decoration hand" [routerLink]="['EmployeeLogin']" (click)="notHome()">
                <img src="./img/employee-login.png">
            </a>
        </div>
    </div>
</div>-->

<div role="form" class="form-horizontal">



    <div class="center-block">

        <!-- Selection buttons -->
        <div *ngIf="!connected">
            <br/>
            <div class="row">
                <a class="no-decoration hand" [routerLink]="['CandidateLogin']" (click)="notHome()">
                    <img src="./img/candidate-login.png">
                </a>
            </div>
            <div class="row">
                Candidat
            </div>
            <br>
            <br>
            <div class="row">
                <a class="no-decoration hand" [routerLink]="['EmployeeLogin']" (click)="notHome()">
                    <img src="./img/employee-login.png">
                </a>
            </div>
            <div class="row">
                Recruteur
            </div>
        </div>
    </div>
</div>