<div class="container restaurant">
    <div class="row">
        <h1>La bonne fourchette</h1>
    </div>
    <!-- Adresse -->
    <div class="row">
        <address class="bloc-address">
            <h2>Adresse</h2>
            <img src="./img/restaurant-address.png" class="icon" />
            <div>
                Carte...
            </div>
            <div class="address">
                10 rue de la poste, 63000 Clermont-Ferrand
            </div>
            <div class="opening-hours">
                11h30-14h30 et 18h00-23h00
            </div>
        </address>
    </div>
    <!-- Memos -->
    <div class="row">
        <div class="bloc-memos">
            <h2>Memos</h2>
            <img src="./img/restaurant-memo.png" class="icon" />
            <div class="memos clear">
                <memo class="memo clear">
                    <div class="memo-title">Bon et pas cher</div>
                    <div class="memo-description">Bon, copieux pour 15€ le soir. Prend les tickets resto.</div>
                    <div class="memo-author">Bob Moran - 06/04/16</div>
                </memo>
            </div>
        </div>
    </div>
</div>

