<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #map {
        height: 97%;
    }
</style>

<div id="map"></div>

<div class="bottom-bar">
    <div class="element" (click)="filter='customer'">
        <img src="./img/truck-info.png"/>  {{round.customers.length}} clients
    </div>
    <div class="element middle-element" (click)="filter='restaurant'">
        <img src="./img/restaurant.png" /> {{restaurants.length}} restaurants
    </div>
    <div class="element" (click)="filter='area'">
        <img src="./img/sleep.png" /> {{areas.length}} aire de repos
    </div>
</div>

<div class="container customer" *ngIf="filter ==='customer'">

    <div *ngFor="#customer of round.customers" class="round-row" (click)="goToCustomer(customer)">

        <div class="bloc" >
            <div class="nam bloc-title">
                <h2><img src="./img/truck-info.png"/>  {{customer.name}}
                <span class="timeslot">
                    <span class="openingHours">
                         {{customer.openingHours}}
                    </span>
                    -
                    <span class="endingHours">
                        {{customer.closingHours}}
                    </span>
                </span>
                </h2>


            </div>
            <div class="address">
                <img src="./img/customer-address.png" class="small-icon"/> {{customer.address}}
            </div>
            <hr *ngIf="customer.memos.length > 0"/>
            <div class="memos clear">
                <div *ngFor="#memo of customer.memos; #i = index" class="round-row">
                    <memo class="memo clear">
                        <div class="memo-title"><h3>{{memo.title}}</h3></div>
                    </memo>
                    <hr *ngIf="i != customer.memos.length - 1"/>
                </div>
            </div>

        </div>
        <div class="line-separator"></div>
    </div>
</div>

<div class="container customer" *ngIf="filter ==='restaurant'">

    <div *ngFor="#restaurant of restaurants" class="round-row" (click)="goToRestaurant(restaurant)">

        <div class="bloc" >
            <div class="nam bloc-title">
                <h2><img src="./img/restaurant.png" /> {{restaurant.name}}</h2>
            </div>
            <div class="address">
                <img src="./img/customer-address.png"  class="small-icon"/> {{restaurant.address}}
            </div>

            <hr *ngIf="restaurant.memos.length > 0"/>
            <div class="memos clear">
                <div *ngFor="#memo of restaurant.memos; #i = index" class="round-row">
                    <memo class="memo clear">
                        <div class="memo-title"><h3>{{memo.title}}</h3></div>
                        <div class="memo-description">{{memo.description}}</div>
                    </memo>
                    <hr *ngIf="i != restaurant.memos.length - 1"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container customer" *ngIf="filter ==='area'">

    <div *ngFor="#area of areas" class="round-row" (click)="goToArea(area)">

        <div class="bloc" >
            <div class="nam bloc-title">
                <h2><img src="./img/sleep.png" /> {{area.name}}</h2>
            </div>
            <div class="address">
                <img src="./img/customer-address.png" class="small-icon"/> {{area.address}}
            </div>

            <hr *ngIf="area.memos.length > 0"/>
            <div class="memos clear">
                <div *ngFor="#memo of area.memos; #i = index" class="round-row">
                    <memo class="memo clear">
                        <div class="memo-title"><h3>{{memo.title}}</h3></div>
                        <div class="memo-description">{{memo.description}}</div>
                    </memo>
                    <hr *ngIf="i != area.memos.length - 1"/>
                </div>
            </div>
        </div>
    </div>
</div>