<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #map {
        height: 100%;
    }
</style>

<div id="map"></div>

<div class="bottom-bar">
    <div class="element">
        {{round.customers.length}} clients
    </div>
    <div class="element middle-element">
        {{restaurants.length}} restaurants
    </div>
    <div class="element">
        {{areas.length}} aire de repos
    </div>
</div>

<h1>{{round.name}}</h1>

<div class="container customer">

    <div *ngFor="#customer of round.customers" class="round-row" (click)="goToCustomer(customer)">

        <div class="bloc" >
            <div class="nam bloc-title">
            {{customer.name}}

                <span class="timeslot">
                    <span class="openingHours">
                         {{customer.openingHours}}
                    </span>
                    -
                    <span class="endingHours">
                        {{customer.closingHours}}
                    </span>
                </span>
            </div>
            <div class="address">
                {{customer.address}}
            </div>

        </div>
        <div class="line-separator"></div>
    </div>
</div>