<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #map {
        height: 100%;
    }
</style>

<div id="map">


</div>
<div class="bottom-bar">
    <div class="element">
        10 clients
    </div>
    <div class="element middle-element">
        2 restaurants
    </div>
    <div class="element">
        1 aire de repos
    </div>
</div>

<h1>{{id}}</h1>
<h2>{{round.name}}</h2>
<div *ngFor="#customer of round.customers">
    {{customer.name}}
    {{customer.address}}
</div>