/*********************************************
                  Customer
*********************************************/

body {
    background-color: #e6e6e6;
    font-size: 20px;
}

h1 {
    background-color: #3e3d3d;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #f5f5f5;
    text-align: center;
    font-size: 24px;
    margin: 0;
    box-shadow: 0px 3px 20px #656565;
}

.bloc-address, .bloc-codes {
    box-shadow: 0px 3px 20px #656565;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0 0 0;
    font-size: 24px ;
}

.customer .bloc-address h2, .customer .bloc-memos h2, .bloc title{
    background-color: #2daae1;
    color: #ffffff;
}

.icon {
    float: left;
    position: relative;
    left: 20px;
    bottom: 40px;
}

.bloc-address .address, .bloc {
    background-color: white;
    padding: 20px 5px 20px 5px;
}

.customer .bloc-address .opening-hours {
    background-color: #2daae1;
    color: #ffffff;
}

.bloc-address .opening-hours {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

.bloc-codes, .bloc-memos, .bloc {
    background-color: white;
}

.bloc-codes .access-codes, .bloc-memos .memos {
    padding: 30px 0 30px 0;
}

.customer .bloc-codes h2 {
    background-color: #f39000;
    color: #ffffff;
}

.bloc-memos .memo-title, .bloc .title{
    font-weight: bold;
}

.bloc-memos .memo-author {
    font-weight: bold;
    float: right;
}

.bloc-memos .memos, .bloc-codes .access-codes {
    padding: 0 20px 0 20px;
    margin: 0;
    position: relative;
    top: -25px;
}

.clear {
    clear: both;
}

.bloc-memos hr {
    clear: both;
    margin-top: 30px;
    margin-bottom: 10px;
}

/*********************************************
                  Restaurant
*********************************************/

.restaurant .bloc-address h2, .restaurant .bloc-memos h2 {
    background-color: #312783;
    color: #ffffff;
}

.restaurant .bloc-address .opening-hours {
    background-color: #312783;
    color: #ffffff;
}

/*********************************************
                  Login
*********************************************/

.login-form .logo {
    max-width: 300px;
}

.login-form input {
    max-width: 400px;
    height: 50px;
    margin: 0 auto;
}

.login-form form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.login-form {
    background-color: #97ca92;
    text-align: center;
    padding: 0;
}

.container {
    padding: 0;
}

/*********************************************
                  Round
*********************************************/

.bottom-bar {
    background: white;
    padding: 20px 0 50px 0;
    text-align: center;
    box-shadow: 0px 0px 15px #656565;
    height: 40px;
    float: left;
    width: 100%;
    position: relative;
    position:absolute;
    bottom:-60px;
}

.bottom-bar .element {
    display: inline-block;
    width: 30%;
}

.bottom-bar .middle-element {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
/*********************************************
                 Bloc
*********************************************/
.round-row {
    margin-top: 20px;
}

.bloc {
    background: white;
    padding: 20px 50px 20px 50px;
    text-align: left;
}

.warning{
    background-color: #f39000;
    color: #ffffff;
}

.error {
    text-align: center;
    background-color: #fbefed;
    color: #b92c28;
    border: 1px solid;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
}

.bloc .bloc-title{
    font-weight: bold;
    font-size: x-large;
}

.bloc .bloc-title .timeslot {
    color: #5e5e5e;
    font-size: large;
}

.bloc-memos .memo-author {
    font-weight: bold;
    float: right;
}

.bloc-memos .memos, .bloc-codes .access-codes {
    padding: 0 20px 0 20px;
    margin: 0;
    position: relative;
    top: -25px;
}

.line-separator{

    height:1px;
    border-bottom:1px solid;
    border-color: rgba(132, 132, 132, 0.21);
    margin: 0px 50px;

}

/*********************************************
                  Button bar
*********************************************/
.big-button {
    font-size: 70px;
    font-weight: bolder;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 200px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.3);
    text-decoration: none;
    transition:ease-in all 0.1s ;
}

.big-button:active {
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    text-decoration: none;
}

.big-button:hover {
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    text-decoration: none;
}

.big-button .add {
    background-color: #9bb86d;
    border-color: #2b542c;
    color: white;
    text-decoration: none;
}
.btn-fixed-right {
    position: fixed;
    right: 50px;
    bottom: 50px;

    transition:ease-in all 0.1s;
}
.btn-fixed-right:active {
    position: fixed;
    right: 47px;
    bottom: 45px;
}

/*********************************************
                  Status bar
*********************************************/

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    display: block;
    margin-left: 10px;
}

.navbar-default {
    background-color: #484747;
    border-color: #191717;
    text-align: center;
}

.navbar-default .navbar-toggle {
    background: lightgrey;
}

.navmenu {
    background: white;
}

.nav-menu-user, .navmenu-default .navmenu-nav>.active>a, .navmenu-default .navmenu-nav>.active>a:hover {
    background-color: white;
    font-weight: bold;
    font-size: 18px;
}

.navbar-title {
    color: #EFE8E8;
    font-weight: bold;
    line-height: 50px;
    font-size: 22px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.small-icon{
    width: 20px;
}